.offcanvas-menu-overlay
.offcanvas-menu-wrapper
    div(class='offcanvas__close') +
    ul(class='offcanvas__widget')
        li
            span(class='icon_search search-switch')
        li
            a(href='wishlist.php')
            span(class='icon_heart_alt')
            span.heart
        li
            a(href='shop_details.php')
            span(class='icon_bag_alt')
            span.cart
    #mobile-menu-wrap
    div(class='offcanvas__auth')
        a(href='login.php') Login
        a(href='register.php') Register
// Offcanvas Menu End
// Header Section Begin
header.header(style='position: fixed; z-index: 1030;width: 100%;')
    .container-fluid(style='width:95%;')
        .row(style='background: #ffffff;')
            //.col-xl-3.col-lg-2
            div(class='header__logo' style="width:170px;margin-left:20px;")
                a(href='./index.php')
                    img(src='/img/font1.png' style='width:90%' alt='')
            .col-xl-6.col-lg-7(style='max-width: 60%; flex: 0 0 60%;')
                nav(class='header__menu' style='margin-left:50px;')
                    ul
                        li(style='padding:0 15px;')
                            a(href='index.php') Home
                        li(style='padding:0 15px;')
                            a(href='blog.php') About
                        li.active(style='padding:0 15px;')
                            a(href='shop.php') Shop
                        li(style='padding:0 15px;')
                            a(href='contact.php') Contact
            .col-lg-3
                div(class='header__right' style='')
                    if user
                        div(class='header__right__auth' style='text-deocration:none;')
                            a.nav__el.nav__el--logout Log out 
                    else 
                        div(class='header__right__auth' style='')
                            a(href='/login' style='font-size:15px;') Login
                            a(href='/signup' style='font-size:15px;') Register
                    ul(class='header__right__widget')
                        li
                            span(class='icon_search search-switch')
                        li
                            a(href='wishlist.php')
                            span(class='icon_heart_alt')
                            span.heart
                        li
                            a(href='shop_details.php')
                            span(class='icon_bag_alt')
                            span.cart
        div(class='canvas__open')
            i.fa.fa-bars
// Header Section End
// Breadcrumb Begin
.breadcrumb-option(style='padding-top: 1px;')
    .container
        .row
            .col-lg-12
                div(class='breadcrumb__links' style='border-bottom: 1px solid #ebebeb; padding: 15px 0;')
                    a(href='./index.php')
                        i.fa.fa-home
                        | Home
                        span Shop
// Breadcrumb End
