extends base

block content 
    .breacrumb-section(style='padding-top:100px;')
        .container(style='margin-top:0px;')
            .row
                .col-lg-12
                    .breadcrumb-text
                        a(href='/index')
                            i(class='fa fa-home' style='width:20px')
                            | Home
                        a(href='/blog')
                            i(class='icon_bag_alt' style='width:20px')
                            | About Us
    // Breadcrumb End
    section.blog-details.spad(style='padding-top:20px;')
        .container
            .row
                .col-lg-12
                    .blog-details-inner
                        .categories__item.categories__large__item 
                            .img-bg-set(style="background: #222 url('/img/about-us.jpg') center no-repeat;background-size: cover;color: white;width:100%;height: 100%;text-align: center;align-items: center;")
                                .categories__text(style="max-width: 480px;margin-top: 255px; margin-left: 50px;")
                                    h1(style="font-family:Cookie,cursive; color: #111111;margin-bottom: 5px;") About US
                                    p(style="margin-bottom: 15px;color:#f8f8f8;")
                                        | Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                                        | edolore magna aliquapendisse ultrices gravida.
                        .blog-detail-desc(style="font-family: 'Josefin Sans', sans-serif; font-size:18px;")
                                p(style="font-family: 'Josefin Sans', sans-serif; font-size:18px;")
                                    | psum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                    | labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    | laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit
                                    | amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
    // Blog Section end
    section.contact.spad
        .container
            .row
                .col-lg-6.col-md-6
                    .blog-item
                        .bi-pic
                            img(src='/img/Screenshot (9).png' alt='' style='height:50%;')
                        .bi-text
                            a(href='/blog')
                            p
                            span
                .col-lg-6.col-md-6
                    .blog-item
                        .bi-pic
                            p(style="font-family: 'Josefin Sans', sans-serif; font-size:20px; font-weight: 700;")
                                | Her right, a social organization started by Divya Reddy aims at creating sustainable businesses for oppressed women.
                                | To turn women who are despondent to formidable has been our vision.
                                br
                                | We collaborate to work with various social organisations to skill women to help them with the resources of processes and implementations to empower women to become financially independent.
                                | Working with local and national governments to build create business and it&apos;s acumen for these women has been our forte.
                        .bi-text
                            a(href='/blog')
                            h4
                                p
                                span(style="font-family: 'Josefin Sans', sans-serif; font-size:20px; font-weight: 700;") - May 19, 2019
                            p
                            span
                br
                br
                br
                .col-lg-6.col-md-6
                    .blog-item
                        .bi-pic
                            p(style="font-family: 'Josefin Sans', sans-serif; font-size:20px; font-weight: 700;")
                                | Her right, a social organization started by Divya Reddy aims at creating sustainable businesses for oppressed women.
                                | To turn women who are despondent to formidable has been our vision.
                                br
                                | We collaborate to work with various social organisations to skill women to help them with the resources of processes and implementations to empower women to become financially independent.
                                | Working with local and national governments to build create business and it&apos;s acumen for these women has been our forte.
                        .bi-text
                            a(href='/blog')
                            h4
                                p
                                span(style="font-family: 'Josefin Sans', sans-serif; font-size:20px; font-weight: 700;") - May 19, 2019
                            p
                            span
                .col-lg-6.col-md-6
                    .blog-item
                        .content__map
                            img(src='/img/blog1 (1).png' alt='' style='height:500px; width:399px;')
                        .bi-text
                            a(href='blog')
                            h4
                            p
                            span
                .col-lg-6.col-md-6
                    .blog-item
                        .content__map
                            img(src='/img/blog1 (2).png' alt='' style='height:500px; width:399px;')
                        .bi-text
                            a(href='blog')
                            h4
                            p
                            span
                .col-lg-6.col-md-6
                    .blog-item
                        .bi-pic
                            p(style="font-family: 'Josefin Sans', sans-serif; font-size:20px; font-weight: 700;")
                                | Her right, a social organization started by Divya Reddy aims at creating sustainable businesses for oppressed women.
                                | To turn women who are despondent to formidable has been our vision.
                                br
                                | We collaborate to work with various social organisations to skill women to help them with the resources of processes and implementations to empower women to become financially independent.
                                | Working with local and national governments to build create business and it&apos;s acumen for these women has been our forte.
                        .bi-text
                            a(href='blog')
                            h4
                                p
                                span(style="font-family: 'Josefin Sans', sans-serif; font-size:20px; font-weight: 700;") - May 19, 2019
                            p
                            span
    //-Instagram section
    .banner-section.spad(style="width:99%;")
        .container-fluid(style='text-align: center;')
            .row
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-1.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=anarkali')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-2.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=anarkali')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-3.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=anarkali')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-4.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=kurtas')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-5.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=skirts')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-6.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=anarkali')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop
