extends base

block content 
    .breacrumb-section(style='padding-top:100px;')
        .container(style='margin-top:0px;')
            .row
                .col-lg-12
                    .breadcrumb-text
                        a(href='/index')
                            i(class='fa fa-home' style='width:20px')
                            | Home
                        a(href='/blog')
                            i(class='icon_bag_alt' style='width:20px')
                            | Contact Us
    // Breadcrumb End
    section.contact.spad(style='padding-top:20px;')
        .container
            .row
                .col-lg-6.col-md-6
                    .contact__content
                        .contact__address(style='margin-top:25%;')
                            h5 Contact info
                            ul
                                li
                                    h6
                                        i.fa.fa-map-marker
                                        |  Address
                                    p Hyderabad
                                li
                                    h6
                                        i.fa.fa-phone
                                        |  Phone
                                    p
                                        span 6302585792
                                        span
                                li
                                    h6
                                        i.fa.fa-headphones
                                        |  Support
                                    p herrightfoundation@gmail.com
                .col-lg-6.col-md-6
                    .contact__map
                        iframe(src='https://www.google.com/maps/d/u/0/embed?mid=1A5XCtDMGY-uNKytUCDHn4Z77v8s&ie=UTF8&hl=en&msa=0&ll=17.454326063301156%2C78.45748890441895&spn=0.027185%2C0.066862&z=12&output=embed' height='680' style='border:0' allowfullscreen='')
    //-Instagram section
    .banner-section.spad(style="width:99%;")
        .container-fluid(style='text-align: center;')
            .row
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-1.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=anarkali')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-2.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=anarkali')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-3.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=anarkali')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-4.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=kurtas')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-5.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=skirts')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop
                .col-lg-2(style="padding: 1px;")
                    .single-banner
                        img(src='/img/insta-6.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=anarkali')
                            h4(style="font-size: 15px;background: #00000038;") @ Herright_shop

