extends base

block content 
    doctype html
    section.women-banner.spad(style='padding-bottom: 0px;')
        .banner-section.spad
            .container-fluid(style='text-align: center;')
            h1(style='font-size: 20px; margin-top: 40px; margin-bottom:20px ;')
                u
                i Our Collections
            .row
                .col-lg-4
                    .single-banner
                        img(src='img/_MAD9366.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=kurtas')
                                h4 Cotton
                .col-lg-4
                    .single-banner
                        img(src='img/_MAD9112.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=skirts')
                                h4 Festive
                .col-lg-4
                    .single-banner
                        img(src='img/_MAD9348.jpg' alt='')
                        .inner-text
                            a(href='shop.php?categories=anarkali')
                                h4 Winter
    // Services Section Begin
    section.services.spad
        .container
            .row
                .col-lg-3.col-md-4.col-sm-6
                    .services__item
                        i.fa.fa-car
                        h6 Free Shipping
                        p For all oder over $99
                .col-lg-3.col-md-4.col-sm-6
                    .services__item
                        i.fa.fa-money
                        h6 Money Back Guarantee
                        p If good have Problems
                .col-lg-3.col-md-4.col-sm-6
                    .services__item
                        i.fa.fa-support
                        h6 Online Support 24/7
                        p Dedicated support
                .col-lg-3.col-md-4.col-sm-6
                    .services__item
                        i.fa.fa-headphones
                        h6 Payment Secure
                        p 100% secure payment
    // Services Section End
    // Instagram Begin
    .instagram
        .container-fluid
            .row
                .col-lg-2.col-md-4.col-sm-4.p-0
                    .instagram__item.set-bg(data-setbg='img/instagram/insta-1.jpg')
                        .instagram__text
                            i.fa.fa-instagram
                            a(href='#') @ Herright_shop
                .col-lg-2.col-md-4.col-sm-4.p-0
                    .instagram__item.set-bg(data-setbg='img/instagram/insta-2.jpg')
                        .instagram__text
                            i.fa.fa-instagram
                            a(href='#') @ Herright_shop
                .col-lg-2.col-md-4.col-sm-4.p-0
                    .instagram__item.set-bg(data-setbg='img/instagram/insta-3.jpg')
                        .instagram__text
                            i.fa.fa-instagram
                            a(href='#') @ Herright_shop
                .col-lg-2.col-md-4.col-sm-4.p-0
                    .instagram__item.set-bg(data-setbg='img/instagram/insta-4.jpg')
                        .instagram__text
                            i.fa.fa-instagram
                            a(href='#') @ Herright_shop
                .col-lg-2.col-md-4.col-sm-4.p-0
                    .instagram__item.set-bg(data-setbg='img/instagram/insta-5.jpg')
                        .instagram__text
                            i.fa.fa-instagram
                            a(href='#') @ Herright_shop
                .col-lg-2.col-md-4.col-sm-4.p-0
                    .instagram__item.set-bg(data-setbg='img/instagram/insta-6.jpg')
                        .instagram__text
                            i.fa.fa-instagram
                            a(href='#') @ Herright_shop
    // Instagram End
