.navabr-color{
    background: rgb(20, 17, 17);
}
body{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding: 0px;;
}
.collapse.navbar-collapse ul li a{
    color:#fff;
    background-color:rgb(20, 17, 17);
}
.nav-link i{
    font-size: 25px;
}
.equal-height-column{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap:wrap;   
}
